@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Calibri";
	src: local("calibri_bold"), local("calibri_bold"), url("../fonts/calibri_bold.woff") format("woff"), url("../fonts/calibri_bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
