.footer {
	position: relative;
	z-index: 2;
	background: #5A0A0C;
	// .footer__container
	&__container {
	}
	// .footer__top
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 68px 0px 30px 0px;
		@media (max-width: $mobile) {
			flex-direction: column;
			padding: 10px 0px 30px 0px;
		}
	}
	// .footer__logo
	&__logo {
		img {
			height: 60px;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 12px 0px;
		}
	}
	// .footer__center
	&__center {
		flex: 1 1 100%;
		font-weight: 400;
		font-size: 12px;
		color: #fff;
		line-height: 150%;
		margin: 0px 35px 0px 117px;
		@media (max-width: $tablet) {
			text-align: center;
			margin: 0px 15px 0px 15px;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 30px 0px;
		}
		@media (max-width: $mobileSmall) {
			br {
				display: none;
			}
		}
	}
	// .footer__social
	&__social {
		display: flex;
		align-items: center;
		margin: 0px -16px;
		@media (max-width: $tablet) {
			margin: 0px -8px;
		}
		@media (max-width: 660px) {
			margin: 0px -16px;
		}
	}
	// .footer__icon
	&__icon {
		padding: 0px 16px;
		&::before {
			transition: all 0.3s ease 0s;
			font-size: 20px;
			color: #fff;
		}
		&:hover {
			&::before {
				color: #fff;
			}
		}
		@media (max-width: $tablet) {
			padding: 0px 8px;
		}
		@media (max-width: 660px) {
			padding: 0px 16px;
		}
	}
	// .footer__bottom
	&__bottom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0px 0px 72px 0px;
		font-weight: 400;
		color: #fff;
		font-size: 12px;
		line-height: 150%;
		text-align: center;
		@media (max-width: $mobile) {
			padding: 0px 0px 15px 0px;
		}
	}
}

.icon-telegram {
	width: 24px;
	height: 24px;
	background-image: url("../img/icons/telegram.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.icon-facebook {
	width: 18px;
	height: 18px;
	background-image: url("../img/icons/facebook.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
